<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tem="http://tempuri.org/">
   <soapenv:Header/>
   <soapenv:Body>
      <tem:BillerCatalog>
        <tem:EntityID>{{EntityID}}</tem:EntityID>
        <tem:LocationID>{{LocationID}}</tem:LocationID>
        <!--Optional:-->
        <tem:PointOfSaleID>{{PointOfSaleID}}</tem:PointOfSaleID>
      </tem:BillerCatalog>
   </soapenv:Body>
</soapenv:Envelope>
