<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tem="http://tempuri.org/">
   <soapenv:Header/>
   <soapenv:Body>
      <tem:SKUCatalog>
        <tem:EntityId>{{EntityID}}</tem:EntityId>
        <tem:LocationId>{{LocationID}}</tem:LocationId>
        <!--Optional:-->
        <tem:PointOfSaleID>{{PointOfSaleID}}</tem:PointOfSaleID>
      </tem:SKUCatalog>
   </soapenv:Body>
</soapenv:Envelope>

